<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atliq Sales</title>
</head>
<body>
    <h1>Atliq Sales Insight</h1>
    <iframe title="Sales insight" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=4e1312ed-87fa-43bb-ba27-159f86f4fa61&autoAuth=true&ctid=0df4f8da-952d-4c0a-80fa-408c57b08ef6" frameborder="0" allowFullScreen="true"></iframe>
</body>
</html>